body {
    font-family: "Segoe UI", Tahoma, Arial, sans-serif;
    background: #faf7fb
}

header,
nav,
.navbar,
.header {
    margin-bottom: 0 !important;
    padding-bottom: 2px !important;
}

main,
.home,
.home-container,
.home-page {
    margin-top: 0 !important;
    padding-top: 0 !important;
}